@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("/fonts/PermanentMarker-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PermanentMarker-Regular";
}

body {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #1bb16bab;
}

header {
  width: 100%;
  min-height: 80px;
  background-color: #1bb16b;
}

main {
  width: 100%;
  min-height: 500px;
}

footer {
  width: 100%;
  min-height: 200px;
  background-color: #1bb16bab;
  display: flex;
  justify-content: center;
  align-items: center;
}
